[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
honcho = "*"
aiohttp-devtools = "*"

[packages]
aiohttp = "*"
aiohttp-session = "*"
cryptography = "*"
markdown = "*"
gunicorn = "*"
"aiohttp-jinja2" = "*"
uvloop = "*"

[requires]
python_version = "3.7"
