# Nginx Reverse Proxy Configuration for Amiller.im
server {
   listen 80;
   server_name amiller.im;
   return 301 https://$server_name$request_uri;
}
server {
    listen       443 ssl;
    server_name  amiller.im;
    ssl_certificate    /etc/letsencrypt/live/amiller.im/fullchain.pem;
    ssl_certificate_key    /etc/letsencrypt/live/amiller.im/privkey.pem;
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers   on;

    # prevent man in the middle attacks
    add_header Strict-Transport-Security "max-age=31536000";

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
        proxy_buffering off;
        #proxy_pass http://aiohttp;
        proxy_pass http://127.0.0.1:5000;
    }

    location /static {
        root /home/auto/amiller.im;
    }

    location ~ /.well-known {
                allow all;
    }

}
