{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
    <h1>About</h1>
</div>
    <p>I graduated from Florida State University in fall of 2012. Since then I have worked for a
        mobile device management company called Openpeak (2013-2016) out of Boca Raton, FL and as of spring 2016
        I am employed by Ultimate Software working on their PaaS team.</p>

    <p>My dream is to be a dual CEO/CTO of a small startup that really will change the rules for humanity.
        I love making new projects from the ground up using open source technologies,
        proven software engineering patterns, a simple design, and common sense (aka not reinventing the wheel).</p>

    <p> For fun I like to tinker and hack with computer hardware and computer sciency projects.
        You know small projects that do barely anything, but make you smile every time you use them.
        See <a href="https://www.wunderground.com/personal-weather-station/dashboard?ID=KFLFORTL56" title="weather station">
            weather station</a> and <a href="/" title="homebrew router">homebrew router</a>.
        I also enjoy playing <a href="http://www.dotabuff.com/players/4778078" title="DOTA"> DOTA</a>
        in my spare time with old and new friends. Although, I'll admit that I am not great lol (MID FOR FEED!, jkjk)
        Besides technology stuff I enjoy snowboarding in Colorado, and boating in Florida keys.</p>

    <h3>social</h3>
    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:user:1296065657&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>

{% endblock %}