{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Welcome to Amiller.im</h1>
    <h3>Personal website of Drew, w00t</h3>
    <p>Hi, this websites purpose is for sharing my technological opinions, trip vacation pictures, and keeping my full stack engineering
        skills up to date. I particularly like building applications in Python3, PHP7, and C++14 and particularly hate doing anything
        Javascript.</p>

    <p><b>5/07/16</b> - Snowboarding galleries for 2016 & 2017 online! The galleries could use some dynamic formatting but I'm not going to prioritize that right now.

    <p><b>5/06/16</b> - Iteration 1 of CI/CD completed via gitlab. See the code for it here: https://gitlab.com/atm08e/amiller.im-py3. Will not be using https://github.com/atm08e/amiller.im anymore.
        Maybe i'll write a hook to push to it at some point. Next objective is to get some snowboarding galleries online!

    <p><b>4/29/16</b> - Redid the website in a full server side rendered python 3 stack. Dedicated post to come soon with my motivations for this,
        hopefully soon..
        Hoping that this website will be funner to work on now that I convinced myself to just stay away from javascript world.</p>

    <p><b>3/02/16</b> - Website Online! This website is a work in progress, links will be broken, wild cats will apear,
        and will be updated rapidly in the coming days/weeks </p>

</div>

{% endblock %}