{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
    <h1>About Drew</h1>
</div>
    <p>I graduated from Florida State University in fall of 2012 with a B.S in Computer Science. Since then I have worked for a
        mobile device management company called Openpeak (2013-2016) out of Boca Raton, FL and as of spring 2016
        I am employed by Ultimate Software working on their PaaS and Perception teams and more recently their Performance Development team</p>

    <h3>social</h3>
    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:user:1296065657&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>

{% endblock %}