{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
    <h1>About this website</h1>
</div>
<h3>Technologies</h3>
    <ul>
        <li>Rolling python3.7 saying on the latest and greatest python.</li>
        <li>Aiohttp framework for the api server. </li>
        <li>Gitlab for source control. Use to use the CICD but switched back to concourse instead</li>
        <li>Docker for packaging the application with it's dependencies and providing easy and sane production environment</li>
        <li>Concourse and Vault for secure CICD</li>
    </ul>
    <p>Code is available at: <a href="https://gitlab.com/atm08e/amiller.im-py3">amiller.im-py3</a>.</p>
{% endblock %}