<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    <link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
    <!-- /styles -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/ico/favicon-16x16.png">
    <link rel="manifest" href="/static/ico//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/ico//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->

    <!-- scripts -->
    <script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
    <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
    <!-- /scripts -->

</head>
<body>

<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Amiller.im</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li {% if request.path == '/' %} class="active" {% endif %}><a href="/">Home</a></li>

                    <!--<li {% if request.path == '/blog' %} class="active" {% endif %}><a href="/blog">Blog</a></li>-->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Snowboarding<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/snowboarding/2016/1">Wreck Breck 2016</a></li>
                            <li><a href="/snowboarding/2016/2">Family 2016</a></li>
                            <li><a href="/snowboarding/2017/1">Wreck Breck 2017</a></li>
                            <li><a href="/snowboarding/2017/2">Shred-a-palooza 2017</a></li>
                            <li><a href="/snowboarding/2017/3">#IBelieveInSpringBreak2017</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Boating<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/boating/2016/1">Early Dolphin Slammer 2016</a></li>
                            <li><a href="/boating/2016/2">Airshow 2016</a></li>
                            <li><a href="/boating/2016/3">Retired Crew 2016</a></li>
                            <li><a href="/boating/2016/4">Mini Season 2016</a></li>
                            <li><a href="/boating/2017/1">GFT Part II 2017</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about/drew">Drew</a></li>
                            <li><a href="/about/site">This Site</a></li>
                        </ul>
                    </li>

                    <li {% if request.path == '/links' %} class="active" {% endif %}><a href="/links">Links</a></li>
                </ul>
                <!--
                <ul class="nav navbar-nav pull-right">
                    <li {% if request.path == '/register' %} class="active" {% endif %}><a href="/register">Register</a></li>
                    <li {% if request.path == '/login' %} class="active" {% endif %}><a href="/login">Login</a></li>
                </ul>
                -->
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">
        {% block content %}{% endblock %}
    </main>

</div>

<div id="footer">
    <div class="container">
        <p>Amiller.im &copy; All Rights Reserved.</p>
        {% block footer %}{% endblock %}
    </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
<script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>

<!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
<script>
  window._gaq = [['_setAccount','UA-74646655-1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>

</body>
</html>