{% extends 'base.html' %}
{% block title %}Snowboarding{% endblock %}
{% block content %}

<div class="page-header">
    <h1>{{header}}</h1>
</div>
<h3>{{header3}}</h3>
<p>{{location}} | {{date}} | {{participants}}</p>




<div id="gallery1">

    {% for row in images %}
            {% for image in row %}
                <img src="{{image.thumb}}" data-image="{{image.source}}" data-description="sendit" alt="sendit">
            {% endfor %}
    {% endfor %}
</div>
<script type="text/javascript">

		jQuery("#gallery1").unitegallery({
		        gallery_theme: "tiles",
		    	tiles_type:"nested",
				theme_enable_preloader: true,		//enable preloader circle
				tiles_space_between_cols: 3,			//space between images

		});

</script>
{% endblock %}